content {
    position: relative;
    background-color: lightblue;
    width: 70%;
    min-width: 100px;
    overflow: auto;
    font-size: 1em;
    line-height: 30px;
}

.contentItem{
    display: inline-block;
    margin-top: 15px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.contentItem>div{
    width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.itemContainer{
    display: inline-block;
    margin: 0;
}