tree {
    font-size: 1em;
    background-color: yellow;
    width: 30%;
    min-width: 100px;
    white-space: nowrap;
    overflow: auto;
    text-align: center;
    padding: 0;
    user-select: none;
}

tree ul, li {
    margin-top: 0px;
    list-style-type: none;
}

div.image {
    display: inline-block;
    background-image: url("../../../_images/folder.png");
    height: 32px;
    width: 32px;
    text-align: right;
    padding: 0px;
    vertical-align: middle;
    color: blue;
}

div.folderName {
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
}

div.image.expanded::before {
    content: '-';
}

div.image.collapsed::before {
    content: '+';
}